
body{
  overflow: hidden;
  font-family: helvetica;
}

#header{
    background-color: #242323; 
    height: 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.navbar{
    position: fixed;
    width: 100%; 
    background-color: transparent;
    border-bottom-color: transparent;
    left: 0;
    right: 0;
    top: 0;
}

img{
  height: 100%;
  width: 100%;
}


  #icon{
    height: 45px;
    margin-right:10px; 
    margin-top: -63px;
  }

  #icon a:hover{
    height: 80px;
  }
                                               /*Media*/

@media(max-width:767px){
  .min{
    visibility: hidden; 
  }
 
h2{
  margin-right: 28%;
  color: white;
  padding-top: 60px; 
  } 

h1{
  padding-top: 120px;
  margin-bottom: 0;
  }

p{
  font-size: 21px;
  margin-left: auto;
  margin-right: 28%;
  background:rgba(0, 0, 0, 0.46);
  }

#content{
  font-size: 16px;
  text-align: justify;
  margin-top: 4%;
  padding-top: 0;
  margin-right: 0;
 }


}
@media(min-width:768px){
  .li-show{
    visibility: hidden; 
    margin-right: -80px; 
  }
  .pull-right {
    float: right !important;
    padding-right:30%; 
  }

#content{
  font-size: 20px;
  text-align: justify;
  margin-top: 5%;
  padding-top: 0;
  margin-right: 0;
 }

}

                                              /*Burguer*/
.navbar-toggle.active{
  background-color: #242323;
}                                              

.navbar-toggle .icon-bar:nth-of-type(2) {
	  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  	top: 1px;
}

.navbar-toggle .icon-bar {
	  position: relative;
	  transition: all 800ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
	  top: 6px;
	  transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
	  background-color: transparent;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
	  top: -6px;
	  transform: rotate(-45deg);
}

                                              /*Carousel*/

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.absolute-div {
    position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
}


.item {
    position:relative;
}

                                                  /*section*/

h2{
  text-align: center;
  color: white;
  padding-top: 60px; 
} 

h1{
  padding-top: 120px;
  margin-bottom: 0;
}

p{
  font-size: 21px;
  background: rgba(169, 167, 167, 0.5);
}


#app-info{ 
  margin-top: 0px;
  padding-top: 5px; 
  height: 100%;
  width: 100%;
}

#app-features{ 
  margin-top: 0px;
  padding-top: 5px; 
  height: 100%;
  width: 100%;
}
                                                 /*footer*/

#footer{  
  position: fixed;
  background: #242323;
  text-shadow: 1%;
  -moz-text-decoration-color: snow;
  width: 100%;  
  bottom: 0;
  left: 0;
  right: 0;
  height: 52px;
  text-align: center;
}


.button {
  float: right !important;
  padding-right:43%; 
  margin-bottom: 10px;  
}

#cr{
  color: #444;
  margin-top: 1%;
  text-decoration: none;
  font-size: 0.8em;

}
