
body{
  overflow: hidden;
  font-family: helvetica;
}

#header{
    background-color: #242323; 
    height: 10%;
    width: 100%;

}

.carousel{ 
  height: 75%;
  width: 100%;
}
img {
  height: 100%;
  width: 100%;
}

#app-info{
  background-color:rgb(255, 195, 56);   
}



#footer{
     background: #242323;
     text-shadow: 1%;
     -moz-text-decoration-color: snow;
     height: 25%;
     width: 100%;    
}

#button {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 10px;
   
}

#cr{
  color: #444;
  margin-top: 2%;
  text-decoration: none;
  font-size: 0.8em;

}
